In [1]:
import pandas as pd
import json
import requests
import numpy as np
from config import api_key

In [4]:
# total rows will be 2514
#creating a blank data frame to add data to with API requests
congress_df = pd.DataFrame()

In [5]:
#code to pull data from congress.gov
offset = 0
for i in range(11):
    url = f"https://api.congress.gov/v3/member?api_key={api_key}&limit=250&offset={offset}"
    response = requests.get(url)
    data = response.json()
    df_i = pd.json_normalize(data['members'])
    congress_df = pd.concat([congress_df,df_i], ignore_index=True)
    offset = offset + 250

In [6]:
congress_df

,member.bioguideId,member.depiction.attribution,member.depiction.imageUrl,member.district,member.name,member.party,member.served.House,member.state,member.url,member.served.Senate
0,S000062,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/s000062_20...,5.0,"Sarasin, Ronald A.",Republican,"[{'end': 1979, 'start': 1973}]",Connecticut,https://api.congress.gov/v3/member/S000062?for...,NaN
1,B001305,Image courtesy of the Member,https://www.congress.gov/img/member/b001305_20...,NaN,"Budd, Ted",Republican,"[{'end': 2023, 'start': 2017}]",North Carolina,https://api.congress.gov/v3/member/B001305?for...,[{'start': 2023}]
2,W000817,"<a href=""http://www.senate.gov/artandhistory/h...",https://www.congress.gov/img/member/w000817_20...,NaN,"Warren, Elizabeth",Democratic,NaN,Massachusetts,https://api.congress.gov/v3/member/W000817?for...,[{'start': 2013}]
3,W000802,"<a href=""http://www.senate.gov/artandhistory/h...",https://www.congress.gov/img/member/w000802_20...,NaN,"Whitehouse, Sheldon",Democratic,NaN,Rhode Island,https://api.congress.gov/v3/member/W000802?for...,[{'start': 2007}]
4,Y000064,Image courtesy of the Member,https://www.congress.gov/img/member/y000064_20...,NaN,"Young, Todd",Republican,"[{'end': 2017, 'start': 2011}]",Indiana,https://api.congress.gov/v3/member/Y000064?for...,[{'start': 2017}]
...,...,...,...,...,...,...,...,...,...,...
2510,F000229,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000229_20...,6.0,"Flynt, John J., Jr.",Democratic,"[{'end': 1979, 'start': 1953}]",Georgia,https://api.congress.gov/v3/member/F000229?for...,NaN
2511,F000218,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000218_20...,7.0,"Flowers, Walter",Democratic,"[{'end': 1979, 'start': 1969}]",Alabama,https://api.congress.gov/v3/member/F000218?for...,NaN
2512,F000215,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000215_20...,1.0,"Florio, James J.",Democratic,"[{'end': 1991, 'start': 1975}]",New Jersey,https://api.congress.gov/v3/member/F000215?for...,NaN
2513,F000209,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000209_20...,11.0,"Flood, Daniel J.",Democratic,"[{'end': 1947, 'start': 1945}, {'end': 1953, '...",Pennsylvania,https://api.congress.gov/v3/member/F000209?for...,NaN
2514,F000208,Collection of the U.S. House of Representatives,https://www.congress.gov/img/member/f000208_20...,5.0,"Flippo, Ronnie G.",Democratic,"[{'end': 1991, 'start': 1977}]",Alabama,https://api.congress.gov/v3/member/F000208?for...,NaN

In [7]:
# columns of the dataframe
congress_df.columns

Index(['member.bioguideId', 'member.depiction.attribution',
       'member.depiction.imageUrl', 'member.district', 'member.name',
       'member.party', 'member.served.House', 'member.state', 'member.url',
       'member.served.Senate'],
      dtype='object')

In [9]:
#length of data frame
len(congress_df)

2515

In [18]:
#seperate out house and senate data
senate_years = congress_df['member.served.Senate']
house_years = congress_df['member.served.House']
len(house_years)

2515

In [19]:
#seperate out end year of senators
senate_end_list = []
added_list = 0
skipped_list = 0

for row in range(len(senate_years)):
    try:
        end_date = senate_years[row][0]["end"]
        senate_end_list.append(end_date)
        added_list = added_list + 1
    except:
        senate_end_list.append(np.nan)
        skipped_list = skipped_list + 1

print(f'{added_list} senators added to the list')
print(f'{skipped_list} congress people skipped')

323 senators added to the list
2192 congress people skipped

In [20]:
#seperate out start year of senators
senate_start_list = []
added_list = 0
skipped_list = 0


for row in range(len(senate_years)):
    try:
        start_date = senate_years[row][0]["start"]
        senate_start_list.append(start_date)
        added_list = added_list + 1
    except:
        senate_start_list.append(np.nan)
        skipped_list = skipped_list + 1
        
print(f'{added_list} senators added to the list')
print(f'{skipped_list} politicians skipped')

423 senators added to the list
2092 politicians skipped

In [21]:
#seperate out start date of house reps
house_start_list = []
added_list = 0
skipped_list = 0

for row in range(len(house_years)):
    try:
        start_date = house_years[row][0]["start"]
        house_start_list.append(start_date)
        added_list = added_list + 1
    except:
        house_start_list.append(np.nan)
        skipped_list = skipped_list + 1
        
print(f'{added_list} senators added to the list')
print(f'{skipped_list} politicians skipped')

2260 senators added to the list
255 politicians skipped

In [22]:
#seperate end date of house reps
house_end_list = []
added_list = 0
skipped_list = 0

for row in range(len(house_years)):
    try:
        end_date = house_years[row][0]["end"]
        house_end_list.append(end_date)
        added_list = added_list + 1
    except:
        house_end_list.append(np.nan)
        skipped_list = skipped_list + 1
        
print(f'{added_list} senators added to the list')
print(f'{skipped_list} politicians skipped')

1831 senators added to the list
684 politicians skipped

In [23]:
# create lists of start and end datas
congress_df['Senate Start Year'] = senate_start_list
congress_df['Senate End Year'] = senate_end_list
congress_df['House Start Year'] = house_start_list
congress_df['House End Year'] = house_end_list

In [24]:
congress_df.columns

Index(['member.bioguideId', 'member.depiction.attribution',
       'member.depiction.imageUrl', 'member.district', 'member.name',
       'member.party', 'member.served.House', 'member.state', 'member.url',
       'member.served.Senate', 'Senate Start Year', 'Senate End Year',
       'House Start Year', 'House End Year'],
      dtype='object')

In [25]:
#rename columns
congress_df = congress_df.rename(columns = {'member.bioguideId': 'Bio Guide ID',
                         'member.name': 'Name',
                         'member.party': 'Party',
                         'member.state': 'State',
                         'member.url': 'API URL', 
                         'member.district': 'District Number'})
#select pertinent columns
congress_df = congress_df[['Bio Guide ID', 'Name', 'Party', 'State', 'API URL', 'District Number',
       'Senate End Year', 'Senate Start Year', 'House Start Year',
       'House End Year']]

congress_df.head()

,Bio Guide ID,Name,Party,State,API URL,District Number,Senate End Year,Senate Start Year,House Start Year,House End Year
0,S000062,"Sarasin, Ronald A.",Republican,Connecticut,https://api.congress.gov/v3/member/S000062?for...,5.0,NaN,NaN,1973.0,1979.0
1,B001305,"Budd, Ted",Republican,North Carolina,https://api.congress.gov/v3/member/B001305?for...,NaN,NaN,2023.0,2017.0,2023.0
2,W000817,"Warren, Elizabeth",Democratic,Massachusetts,https://api.congress.gov/v3/member/W000817?for...,NaN,NaN,2013.0,NaN,NaN
3,W000802,"Whitehouse, Sheldon",Democratic,Rhode Island,https://api.congress.gov/v3/member/W000802?for...,NaN,NaN,2007.0,NaN,NaN
4,Y000064,"Young, Todd",Republican,Indiana,https://api.congress.gov/v3/member/Y000064?for...,NaN,NaN,2017.0,2011.0,2017.0

In [26]:
#Create blank l
congress_df['Current Senator'] = ""
congress_df['Current House Rep'] = ""
congress_df['Years in Senate'] = ""
congress_df['Years in House'] = ""
congress_df['Served in Senate'] = ""
congress_df['Served in House'] = ""
congress_df

,Bio Guide ID,Name,Party,State,API URL,District Number,Senate End Year,Senate Start Year,House Start Year,House End Year,Current Senator,Current House Rep,Years in Senate,Years in House,Served in Senate,Served in House
0,S000062,"Sarasin, Ronald A.",Republican,Connecticut,https://api.congress.gov/v3/member/S000062?for...,5.0,NaN,NaN,1973.0,1979.0,,,,,,
1,B001305,"Budd, Ted",Republican,North Carolina,https://api.congress.gov/v3/member/B001305?for...,NaN,NaN,2023.0,2017.0,2023.0,,,,,,
2,W000817,"Warren, Elizabeth",Democratic,Massachusetts,https://api.congress.gov/v3/member/W000817?for...,NaN,NaN,2013.0,NaN,NaN,,,,,,
3,W000802,"Whitehouse, Sheldon",Democratic,Rhode Island,https://api.congress.gov/v3/member/W000802?for...,NaN,NaN,2007.0,NaN,NaN,,,,,,
4,Y000064,"Young, Todd",Republican,Indiana,https://api.congress.gov/v3/member/Y000064?for...,NaN,NaN,2017.0,2011.0,2017.0,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,F000229,"Flynt, John J., Jr.",Democratic,Georgia,https://api.congress.gov/v3/member/F000229?for...,6.0,NaN,NaN,1953.0,1979.0,,,,,,
2511,F000218,"Flowers, Walter",Democratic,Alabama,https://api.congress.gov/v3/member/F000218?for...,7.0,NaN,NaN,1969.0,1979.0,,,,,,
2512,F000215,"Florio, James J.",Democratic,New Jersey,https://api.congress.gov/v3/member/F000215?for...,1.0,NaN,NaN,1975.0,1991.0,,,,,,
2513,F000209,"Flood, Daniel J.",Democratic,Pennsylvania,https://api.congress.gov/v3/member/F000209?for...,11.0,NaN,NaN,1945.0,1947.0,,,,,,
2514,F000208,"Flippo, Ronnie G.",Democratic,Alabama,https://api.congress.gov/v3/member/F000208?for...,5.0,NaN,NaN,1977.0,1991.0,,,,,,

In [27]:
current_senators = 0
past_senators = 0
number_skipped = 0

for i in range(len(congress_df)):
    #calculate information for current senators
    if pd.isnull(congress_df.loc[i,'Senate End Year']) & pd.notnull(congress_df.loc[i,'Senate Start Year']):
        congress_df.loc[i,'Current Senator'] = 'Y'
        congress_df.loc[i,'Years in Senate'] = int('2023') - congress_df.loc[i,'Senate Start Year']
        congress_df.loc[i,'Served in Senate'] = "Y"
        current_senators = current_senators + 1
    #calculate for past senators
    elif pd.notnull(congress_df.loc[i,'Senate End Year']) & pd.notnull(congress_df.loc[i,'Senate Start Year']):
        congress_df.loc[i,'Current Senator'] = 'N'
        congress_df.loc[i,'Years in Senate'] = congress_df.loc[i,'Senate End Year'] - congress_df.loc[i,'Senate Start Year']
        congress_df.loc[i,'Served in Senate'] = "Y"
        past_senators = past_senators + 1
    #info for those that did not serve in the senate
    else:
        congress_df.loc[i,'Current Senator'] = np.nan
        congress_df.loc[i,'Years in Senate'] = np.nan
        congress_df.loc[i,'Served in Senate'] = "N"
        number_skipped = number_skipped + 1
        
print(f'{current_senators} current house reps')
print(f'{past_senators} past house reps')
print(f'{number_skipped} number skipped')

100 current house reps
323 past house reps
2092 number skipped

In [28]:
current_house_reps = 0
past_house_reps = 0
number_skipped = 0

for i in range(len(congress_df)):
    #calculate information for current house reps
    if pd.isnull(congress_df.loc[i,'House End Year']) & pd.notnull(congress_df.loc[i,'House Start Year']):
        congress_df.loc[i,'Current House Rep'] = 'Y'
        congress_df.loc[i,'Years in House'] = int('2023') - congress_df.loc[i,'House Start Year']
        congress_df.loc[i,'Served in House'] = "Y"
        current_house_reps = current_house_reps + 1
    #calculate for past house reps
    elif pd.notnull(congress_df.loc[i,'House End Year']) & pd.notnull(congress_df.loc[i,'House Start Year']):
        congress_df.loc[i,'Current House Rep'] = 'N'
        congress_df.loc[i,'Years in House'] = congress_df.loc[i,'House End Year'] - congress_df.loc[i,'House Start Year']
        congress_df.loc[i,'Served in House'] = "Y"
        past_house_reps = past_house_reps + 1
    #info for those that did not serve in the house
    else:
        congress_df.loc[i,'Current House Rep'] = np.nan
        congress_df.loc[i,'Years in House'] = np.nan
        congress_df.loc[i,'Served in House'] = "N"
        number_skipped = number_skipped + 1
        
print(f'{current_house_reps} current house reps')
print(f'{past_house_reps} past house reps')
print(f'{number_skipped} number skipped')

429 current house reps
1831 past house reps
255 number skipped

In [29]:
congress_df

,Bio Guide ID,Name,Party,State,API URL,District Number,Senate End Year,Senate Start Year,House Start Year,House End Year,Current Senator,Current House Rep,Years in Senate,Years in House,Served in Senate,Served in House
0,S000062,"Sarasin, Ronald A.",Republican,Connecticut,https://api.congress.gov/v3/member/S000062?for...,5.0,NaN,NaN,1973.0,1979.0,NaN,N,NaN,6.0,N,Y
1,B001305,"Budd, Ted",Republican,North Carolina,https://api.congress.gov/v3/member/B001305?for...,NaN,NaN,2023.0,2017.0,2023.0,Y,N,0.0,6.0,Y,Y
2,W000817,"Warren, Elizabeth",Democratic,Massachusetts,https://api.congress.gov/v3/member/W000817?for...,NaN,NaN,2013.0,NaN,NaN,Y,NaN,10.0,NaN,Y,N
3,W000802,"Whitehouse, Sheldon",Democratic,Rhode Island,https://api.congress.gov/v3/member/W000802?for...,NaN,NaN,2007.0,NaN,NaN,Y,NaN,16.0,NaN,Y,N
4,Y000064,"Young, Todd",Republican,Indiana,https://api.congress.gov/v3/member/Y000064?for...,NaN,NaN,2017.0,2011.0,2017.0,Y,N,6.0,6.0,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,F000229,"Flynt, John J., Jr.",Democratic,Georgia,https://api.congress.gov/v3/member/F000229?for...,6.0,NaN,NaN,1953.0,1979.0,NaN,N,NaN,26.0,N,Y
2511,F000218,"Flowers, Walter",Democratic,Alabama,https://api.congress.gov/v3/member/F000218?for...,7.0,NaN,NaN,1969.0,1979.0,NaN,N,NaN,10.0,N,Y
2512,F000215,"Florio, James J.",Democratic,New Jersey,https://api.congress.gov/v3/member/F000215?for...,1.0,NaN,NaN,1975.0,1991.0,NaN,N,NaN,16.0,N,Y
2513,F000209,"Flood, Daniel J.",Democratic,Pennsylvania,https://api.congress.gov/v3/member/F000209?for...,11.0,NaN,NaN,1945.0,1947.0,NaN,N,NaN,2.0,N,Y
2514,F000208,"Flippo, Ronnie G.",Democratic,Alabama,https://api.congress.gov/v3/member/F000208?for...,5.0,NaN,NaN,1977.0,1991.0,NaN,N,NaN,14.0,N,Y

In [30]:
congress_df.to_csv('legislator_info.csv')

In [31]:
house_df = congress_df.loc[congress_df['Served in House'] == "Y",:]
house_df

,Bio Guide ID,Name,Party,State,API URL,District Number,Senate End Year,Senate Start Year,House Start Year,House End Year,Current Senator,Current House Rep,Years in Senate,Years in House,Served in Senate,Served in House
0,S000062,"Sarasin, Ronald A.",Republican,Connecticut,https://api.congress.gov/v3/member/S000062?for...,5.0,NaN,NaN,1973.0,1979.0,NaN,N,NaN,6.0,N,Y
1,B001305,"Budd, Ted",Republican,North Carolina,https://api.congress.gov/v3/member/B001305?for...,NaN,NaN,2023.0,2017.0,2023.0,Y,N,0.0,6.0,Y,Y
4,Y000064,"Young, Todd",Republican,Indiana,https://api.congress.gov/v3/member/Y000064?for...,NaN,NaN,2017.0,2011.0,2017.0,Y,N,6.0,6.0,Y,Y
5,W000800,"Welch, Peter",Democratic,Vermont,https://api.congress.gov/v3/member/W000800?for...,NaN,NaN,2023.0,2007.0,2023.0,Y,N,0.0,16.0,Y,Y
6,W000779,"Wyden, Ron",Democratic,Oregon,https://api.congress.gov/v3/member/W000779?for...,NaN,NaN,1996.0,1981.0,1996.0,Y,N,27.0,15.0,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,F000229,"Flynt, John J., Jr.",Democratic,Georgia,https://api.congress.gov/v3/member/F000229?for...,6.0,NaN,NaN,1953.0,1979.0,NaN,N,NaN,26.0,N,Y
2511,F000218,"Flowers, Walter",Democratic,Alabama,https://api.congress.gov/v3/member/F000218?for...,7.0,NaN,NaN,1969.0,1979.0,NaN,N,NaN,10.0,N,Y
2512,F000215,"Florio, James J.",Democratic,New Jersey,https://api.congress.gov/v3/member/F000215?for...,1.0,NaN,NaN,1975.0,1991.0,NaN,N,NaN,16.0,N,Y
2513,F000209,"Flood, Daniel J.",Democratic,Pennsylvania,https://api.congress.gov/v3/member/F000209?for...,11.0,NaN,NaN,1945.0,1947.0,NaN,N,NaN,2.0,N,Y
2514,F000208,"Flippo, Ronnie G.",Democratic,Alabama,https://api.congress.gov/v3/member/F000208?for...,5.0,NaN,NaN,1977.0,1991.0,NaN,N,NaN,14.0,N,Y

In [32]:
senate_df = congress_df.loc[congress_df['Served in Senate'] == "Y",:]
senate_df

,Bio Guide ID,Name,Party,State,API URL,District Number,Senate End Year,Senate Start Year,House Start Year,House End Year,Current Senator,Current House Rep,Years in Senate,Years in House,Served in Senate,Served in House
1,B001305,"Budd, Ted",Republican,North Carolina,https://api.congress.gov/v3/member/B001305?for...,NaN,NaN,2023.0,2017.0,2023.0,Y,N,0.0,6.0,Y,Y
2,W000817,"Warren, Elizabeth",Democratic,Massachusetts,https://api.congress.gov/v3/member/W000817?for...,NaN,NaN,2013.0,NaN,NaN,Y,NaN,10.0,NaN,Y,N
3,W000802,"Whitehouse, Sheldon",Democratic,Rhode Island,https://api.congress.gov/v3/member/W000802?for...,NaN,NaN,2007.0,NaN,NaN,Y,NaN,16.0,NaN,Y,N
4,Y000064,"Young, Todd",Republican,Indiana,https://api.congress.gov/v3/member/Y000064?for...,NaN,NaN,2017.0,2011.0,2017.0,Y,N,6.0,6.0,Y,Y
5,W000800,"Welch, Peter",Democratic,Vermont,https://api.congress.gov/v3/member/W000800?for...,NaN,NaN,2023.0,2007.0,2023.0,Y,N,0.0,16.0,Y,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2440,G000445,"Gregg, Judd",Republican,New Hampshire,https://api.congress.gov/v3/member/G000445?for...,NaN,2011.0,1993.0,1981.0,1989.0,N,N,18.0,8.0,Y,Y
2451,G000367,"Grams, Rod",Republican,Minnesota,https://api.congress.gov/v3/member/G000367?for...,NaN,2001.0,1995.0,1993.0,1995.0,N,N,6.0,2.0,Y,Y
2452,G000365,"Gramm, Phil",Republican,Texas,https://api.congress.gov/v3/member/G000365?for...,NaN,2002.0,1985.0,1979.0,1985.0,N,N,17.0,6.0,Y,Y
2455,G000321,"Gore, Albert, Jr.",Democratic,Tennessee,https://api.congress.gov/v3/member/G000321?for...,NaN,1993.0,1985.0,1977.0,1985.0,N,N,8.0,8.0,Y,Y
2499,F000329,"Fowler, Wyche, Jr.",Democratic,Georgia,https://api.congress.gov/v3/member/F000329?for...,NaN,1993.0,1987.0,1977.0,1987.0,N,N,6.0,10.0,Y,Y

In [34]:
house_df.to_csv('house_info.csv')
senate_df.to_csv('senate_info.csv')
len(senate_df)

423

In [35]:
start_years_senate = senate_df['Senate Start Year'].unique()
start_years_senate.sort()
start_years_senate

array([1935., 1941., 1945., 1947., 1949., 1951., 1953., 1955., 1957.,
       1959., 1961., 1963., 1965., 1967., 1969., 1971., 1973., 1974.,
       1975., 1977., 1979., 1981., 1983., 1985., 1986., 1987., 1989.,
       1990., 1991., 1992., 1993., 1994., 1995., 1996., 1997., 1999.,
       2000., 2001., 2002., 2003., 2005., 2006., 2007., 2009., 2010.,
       2011., 2012., 2013., 2014., 2015., 2017., 2018., 2019., 2020.,
       2021., 2023.])

In [36]:
senate_start_df = pd.DataFrame()
senate_start_df

Empty DataFrame
Columns: []
Index: []

In [37]:
#Political Parties
party = senate_df["Party"].unique()
party

array(['Republican', 'Democratic', 'Independent', 'Independent Democrat'],
      dtype=object)

In [38]:
# new additions lists
new_repubs = []
new_dems = []
new_inds = []
new_ind_dems = []

In [39]:
senate_df.loc[(senate_df['Senate Start Year']==1947) & (senate_df['Party']== 'Republican'),:].count()['Party']

0

In [40]:
for year in start_years_senate:
    democrats = senate_df.loc[(senate_df['Senate Start Year']== year) & (senate_df['Party'] == 'Democratic'),:].count()['Party']
    republicans = senate_df.loc[(senate_df['Senate Start Year']== year) & (senate_df['Party'] == 'Republican'),:].count()['Party']
    independents = senate_df.loc[(senate_df['Senate Start Year']== year) & (senate_df['Party'] == 'Independent'),:].count()['Party']
    ind_demo = senate_df.loc[(senate_df['Senate Start Year']== year) & (senate_df['Party'] == 'Independent Democrat'),:].count()['Party']
    
    new_dems.append(democrats)
    new_repubs.append(republicans)
    new_inds.append(independents)
    new_ind_dems.append(ind_demo)
    

    
new_senators = {'Start Year': start_years_senate,
                'New Republicans': new_repubs,
                'New Democrats': new_dems,
                'New Independents': new_inds,
                'New Independent Democrats': new_ind_dems}    
    
senate_start_df = pd.DataFrame(new_senators)

In [41]:
senate_start_df

,Start Year,New Republicans,New Democrats,New Independents,New Independent Democrats
0,1935.0,0,1,0,0
1,1941.0,1,1,0,0
2,1945.0,1,3,0,0
3,1947.0,0,2,0,0
4,1949.0,0,2,0,0
5,1951.0,1,0,0,0
6,1953.0,4,4,0,0
7,1955.0,2,0,0,0
8,1957.0,1,4,0,0
9,1959.0,2,9,0,0
10,1961.0,2,4,0,0
11,1963.0,0,7,0,0
12,1965.0,1,1,1,0
13,1967.0,7,1,0,0
14,1969.0,6,5,0,0
15,1971.0,4,4,0,0
16,1973.0,12,10,0,0
17,1974.0,1,0,0,0
18,1975.0,1,9,0,0
19,1977.0,9,14,0,0
20,1979.0,10,9,0,0
21,1981.0,16,3,0,0
22,1983.0,4,2,0,0
23,1985.0,2,6,0,0
24,1986.0,1,0,0,0
25,1987.0,4,9,0,0
26,1989.0,4,4,1,1
27,1990.0,0,1,0,0
28,1991.0,4,4,0,0
29,1992.0,0,1,0,0
30,1993.0,7,6,0,0
31,1994.0,2,0,0,0
32,1995.0,10,0,0,0
33,1996.0,1,1,0,0
34,1997.0,8,6,0,0
35,1999.0,5,4,0,0
36,2000.0,0,1,0,0
37,2001.0,2,9,0,0
38,2002.0,2,0,1,0
39,2003.0,7,1,0,0
40,2005.0,7,2,0,0
41,2006.0,0,1,0,0
42,2007.0,3,8,1,0
43,2009.0,3,13,0,0
44,2010.0,2,3,0,0
45,2011.0,12,1,0,0
46,2012.0,0,1,0,0
47,2013.0,5,11,1,0
48,2014.0,0,1,0,0
49,2015.0,12,1,0,0
50,2017.0,3,5,0,0
51,2018.0,1,2,0,0
52,2019.0,7,1,1,0
53,2020.0,1,1,0,0
54,2021.0,4,5,0,0
55,2023.0,6,2,0,0

In [46]:
senate_df['Years in Senate'] = senate_df['Years in Senate'].astype(int)
senate_df.min()

/var/folders/6d/z_ylvf5d1zg_k2xptwz9pjnr0000gq/T/ipykernel_55915/3670056724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  senate_df['Years in Senate'] = senate_df['Years in Senate'].astype(int)
/var/folders/6d/z_ylvf5d1zg_k2xptwz9pjnr0000gq/T/ipykernel_55915/3670056724.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  senate_df.min()

Bio Guide ID                                                   A000009
Name                                                     Abdnor, James
Party                                                       Democratic
State                                                          Alabama
API URL              https://api.congress.gov/v3/member/A000009?for...
District Number                                                   18.0
Senate End Year                                                 1947.0
Senate Start Year                                               1935.0
House Start Year                                                1933.0
House End Year                                                  1939.0
Current Senator                                                      N
Years in Senate                                                      0
Years in House                                                     1.0
Served in Senate                                                     Y
Served in House                                                      N
dtype: object

In [43]:
#average years served

av_served_df = senate_df.groupby('Senate Start Year').mean()['Years in Senate'].round(1)
senate_start_df = pd.merge(senate_start_df,av_served_df, left_on='Start Year', right_on="Senate Start Year")

In [44]:
senate_start_df = senate_start_df.rename(columns = {"Years in Senate": 'Average Years in Senate'})
senate_start_df

,Start Year,New Republicans,New Democrats,New Independents,New Independent Democrats,Average Years in Senate
0,1935.0,0,1,0,0,16.0
1,1941.0,1,1,0,0,36.0
2,1945.0,1,3,0,0,27.0
3,1947.0,0,2,0,0,41.0
4,1949.0,0,2,0,0,22.0
5,1951.0,1,0,0,0,24.0
6,1953.0,4,4,0,0,26.5
7,1955.0,2,0,0,0,24.0
8,1957.0,1,4,0,0,26.4
9,1959.0,2,9,0,0,23.8
10,1961.0,2,4,0,0,27.0
11,1963.0,0,7,0,0,21.3
12,1965.0,1,1,1,0,23.3
13,1967.0,7,1,0,0,20.0
14,1969.0,6,5,0,0,16.5
15,1971.0,4,4,0,0,16.0
16,1973.0,12,10,0,0,10.9
17,1974.0,1,0,0,0,1.0
18,1975.0,1,9,0,0,17.4
19,1977.0,9,14,0,0,14.9
20,1979.0,10,9,0,0,19.2
21,1981.0,16,3,0,0,14.1
22,1983.0,4,2,0,0,12.7
23,1985.0,2,6,0,0,21.4
24,1986.0,1,0,0,0,1.0
25,1987.0,4,9,0,0,19.3
26,1989.0,4,4,1,1,16.0
27,1990.0,0,1,0,0,23.0
28,1991.0,4,4,0,0,9.4
29,1992.0,0,1,0,0,31.0
30,1993.0,7,6,0,0,13.0
31,1994.0,2,0,0,0,19.0
32,1995.0,10,0,0,0,10.4
33,1996.0,1,1,0,0,21.0
34,1997.0,8,6,0,0,16.9
35,1999.0,5,4,0,0,12.9
36,2000.0,0,1,0,0,5.0
37,2001.0,2,9,0,0,12.0
38,2002.0,2,0,1,0,9.0
39,2003.0,7,1,0,0,12.5
40,2005.0,7,2,0,0,10.1
41,2006.0,0,1,0,0,17.0
42,2007.0,3,8,1,0,14.5
43,2009.0,3,13,0,0,8.4
44,2010.0,2,3,0,0,7.2
45,2011.0,12,1,0,0,11.2
46,2012.0,0,1,0,0,11.0
47,2013.0,5,11,1,0,8.1
48,2014.0,0,1,0,0,1.0
49,2015.0,12,1,0,0,7.7
50,2017.0,3,5,0,0,5.1
51,2018.0,1,2,0,0,4.3
52,2019.0,7,1,1,0,3.7
53,2020.0,1,1,0,0,2.0
54,2021.0,4,5,0,0,2.0
55,2023.0,6,2,0,0,0.0

In [45]:
senate_start_df.to_csv("new_senators_by_year.csv")