In [1]:
import pandas as pd
import numpy as np
import os

folder_path = "lda_senate_output"
df_list = []

In [2]:
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        
        # read the CSV file into df
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        
        # For verification
        print(df.shape)
        
        # add df to list
        df_list.append(df)

# concatenate df
combined_df = pd.concat(df_list, ignore_index=True)

(165512, 9)
(185281, 9)
(163693, 9)
(182203, 9)
(165848, 9)
(182020, 9)
(164825, 9)
(165125, 9)
(124861, 9)

In [11]:
combined_df

,date,amount,honoree_name,Payee Name,Contribution Type,contributor_name,state,country,Registrant Name
0,2013-01-23,1000.0,Mark Begich,MARK BEGICH FOR SENATE\n(ACT BLUE),feca,"PAVEL, MARY",DC,US,"SONOSKY, CHAMBERS, SACHSE, ENDRESON & PERRY, LLP"
1,2013-01-24,1000.0,Max Baucus,MONTANANS FOR MAX,feca,"PAVEL, MARY",DC,US,"SONOSKY, CHAMBERS, SACHSE, ENDRESON & PERRY, LLP"
2,2013-01-15,250.0,Ben Lujan,PEOPLE FOR BEN LUJAN,feca,"HONG, JOCELYN",DC,US,"TWENTY-FIRST CENTURY GROUP, INC."
3,2013-03-05,50.0,Jeanne Shaheen,JEANNE SHAHEEN FOR SENATE,feca,"OLIVE, DAVID M",DC,US,CATALYST PARTNERS LLC
4,2013-02-15,500.0,Tim Griffin,TIM GRIFFIN FOR CONGRESS,feca,"OLIVE, DAVID M",DC,US,CATALYST PARTNERS LLC
...,...,...,...,...,...,...,...,...,...
1499363,2021-09-29,1000.0,none,HEATHER MIZEUR FOR CONGRESS,feca,SELF,DC,US,JOHN SAWYER
1499364,2021-10-14,250.0,Stephen F. Lynch,LYNCH FOR CONGRESS,feca,SELF,MA,US,MS. ALEXIS TKACHUK
1499365,2021-09-07,2500.0,Rep. Frank Pallone,SHORE PAC,feca,SELF,DC,US,THE COCA-COLA COMPANY
1499366,2021-08-19,1000.0,ADRIANO ESPAILLAT for Congress,ACTBLUE,feca,SELF,DC,US,VISION AMERICAS LLC
1499367,2021-09-27,1500.0,Mario Diaz-Balart,MARIO DIAZ-BALART FOR CONGRESS,feca,SELF,DC,US,VISION AMERICAS LLC

In [ ]:
# How many unique honoree_name
print(len(df["honoree_name"].value_counts()))

In [5]:
combined_df.dtypes

date                  object
amount               float64
honoree_name          object
Payee Name            object
Contribution Type     object
contributor_name      object
state                 object
country               object
Registrant Name       object
dtype: object

In [6]:
# Remove hyphens (assuming a hyphen does not mean a negative value which would not make sense)
combined_df["amount"] = combined_df["amount"].abs()

In [21]:
# Group by Honoree Name and sum the amount contributed
amount_by_honoree = combined_df.groupby("honoree_name")["amount"].sum()
amount_by_honoree = amount_by_honoree.to_frame().reset_index()
amount_by_honoree.sort_values("amount",ascending=True, inplace=True)

# Export
df2.to_csv("../amount_by_honoree.csv",index=False)

amount_by_honoree

                                            honoree_name       amount
96201                                    no contribution         0.00
2016   Alumni Day honoree General Milley Woodrow Wils...         0.00
88083  Tim Griffin (Check originally issued on 11/1/2...         0.00
39579                                    Lehman, Kathryn         0.00
50920  Public talk: "Ending the HIV/AIDS Pandemic," D...         0.00
...                                                  ...          ...
47985                                               None  19802763.32
46678                                               NRSC  20666570.47
47288           National Republican Senatorial Committee  25025576.52
47210        National Republican Congressional Committee  26576596.41
20979           Democratic Senatorial Campaign Committee  28316595.08

[96880 rows x 2 columns]

In [20]:
# Group by Registrant and sum the amount contributed
amount_by_registrant = combined_df.groupby("Registrant Name")["amount"].sum()
amount_by_registrant = amount_by_registrant.to_frame().reset_index()
amount_by_registrant.sort_values("amount",ascending=True, inplace=True)

# Export
df2.to_csv("../amount_by_registrant.csv",index=False)

amount_by_registrant

                                        Registrant Name       amount
2465                                    LAFAYETTE GROUP         0.00
1944  HADASSAH, THE WOMEN'S ZIONIST ORGANIZATION OF ...         1.00
2345               JOHNSON FOOD AND BEVERAGE CONSULTING         4.00
4947          WESTERN ORGANIZATION OF RESOURCE COUNCILS         5.00
2935                                   MR. IAN FERGUSON         5.00
...                                                 ...          ...
2219         INTERNATIONAL UNION OF OPERATING ENGINEERS  35164271.29
741                                      BOEING COMPANY  36353763.38
298                     AMERICAN FEDERATION OF TEACHERS  38874677.27
557              AT&T SERVICES, INC. AND ITS AFFILIATES  42479648.28
4018      SERVICE EMPLOYEES INTERNATIONAL UNION CTW-CLC  50269050.19

[5054 rows x 2 columns]