In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("lda_senate_output/2022page1-100.csv")
df2 = pd.read_csv("lda_senate_output/2022page101-200.csv")
df3 = pd.read_csv("lda_senate_output/2022page201-300.csv")

In [3]:
df = pd.concat([df1,df2,df3])

In [4]:
df

,date,amount,honoree_name,Payee Name,Contribution Type,contributor_name,state,country,Registrant Name
0,2022-01-08,100.0,Matt Castelli,FRIENDS OF MATT CASTELLI,feca,"FROMMER, ROSS A",NY,US,THE TRUSTEES OF COLUMBIA UNIVERSITY IN THE CIT...
1,2022-01-25,900.0,Tony Gonzales,TONY GONZALES FOR CONGRESS,feca,"LUBIN, MARCUS P",VA,US,THE DLM GROUP
2,2022-01-31,250.0,Buddy Carter,HOWARD MARLOWE,feca,"MARLOWE, HOWARD",DC,US,"WARWICK GROUP CONSULTANTS, LLC"
3,2022-01-31,250.0,Buddy Carter,HOWARD MARLOWE,feca,"MARLOWE, HOWARD",MD,US,"WARWICK GROUP CONSULTANTS, LLC"
4,2022-02-01,1000.0,Hon. Bruce Poliquin,POLIQUIN FOR CONGRESS,feca,"CANFIELD, ANNE C",VA,US,MICHAEL BEST STRATEGIES LLC
...,...,...,...,...,...,...,...,...,...
9095,2022-01-27,1000.0,Senator Martin Heinrich,MARTIN HEINRICH FOR SENATE,feca,SELF,DC,US,"SK HYNIX AMERICA, INC."
9096,2022-01-29,1000.0,"Sens. Tom Carper, Bob Casey, Martin Heinrich, ...",MODERATE DEMOCRATS PAC,feca,SELF,DC,US,"SK HYNIX AMERICA, INC."
9097,2022-02-11,1250.0,Senator Tammy Baldwin,PEOPLE'S CHOICE PAC,feca,SELF,DC,US,"SK HYNIX AMERICA, INC."
9098,2022-02-28,1000.0,Senator Jon Tester,MONTANANS FOR TESTER,feca,SELF,DC,US,"SK HYNIX AMERICA, INC."
9099,2022-05-10,250.0,Jim Lamon,JIM LAMON FOR SENATE,feca,SELF,VA,US,"AKF STRATEGIES, LLC"

In [5]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(3672, 9)
(5383, 9)
(9100, 9)

In [6]:
print(len(df["honoree_name"].value_counts()))

6456

In [9]:
df.to_csv("2022page1-300.csv",index=False)

In [8]:
df_sum = df.groupby("honoree_name")["amount"].sum()
df2 = df_sum.to_frame().reset_index()
df2.sort_values("amount",ascending=True, inplace=True)
df2

                                           honoree_name     amount
3653                       Rep. Edwin George Perlmutter   -10000.0
4980                            Sen. Amy Jean Klobuchar    -1500.0
4132                                  Rep. Pete Stauber    -1500.0
3865                                    Rep. Joe Neguse        0.0
4575                          Representative Liz Cheney       10.0
...                                                 ...        ...
5261                                Senate Majority PAC   500000.0
1845                                 House Majority PAC   500000.0
724   Commencement Ceremony including Honorary Docto...   911635.0
4860  Samantha Power received an honorary degree. Th...  1098642.0
5549                             Strategic Victory Fund  1500000.0

[6456 rows x 2 columns]

In [ ]:
search_mike = amount_sum_by_honoree_sorted[amount_sum_by_honoree_sorted["honoree_name"].str.contains("mike",case=False)]

In [10]:
df2.to_csv("groupedby_honoree_name.csv",index=False)