In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("lda_senate_output/page1-1000.csv")
df2 = pd.read_csv("lda_senate_output/page1001-8000.csv")
df3 = pd.read_csv("lda_senate_output/page8001-8100.csv")
df4 = pd.read_csv("lda_senate_output/page8101-10000.csv")
df5 = pd.read_csv("lda_senate_output/page10001-11000.csv")

In [3]:
df = pd.concat([df1,df2,df3,df4,df5])

In [4]:
df

,amount,contributor_name,date,honoree_name,state,country
0,500.0,"FULLER, CAROLYN",2008-03-09,Senator Daniel Inouye,VA,US
1,500.0,"FULLER, CAROLYN",2008-06-26,Congressman Mike Simpson,VA,US
2,250.0,"FULLER, CAROLYN",2008-03-09,Congressman Bill Sali,VA,US
3,2500.0,"FULLER, CAROLYN",2008-04-01,Senator Jon Tester,VA,US
4,500.0,"FULLER, CAROLYN",2008-06-25,Senator Max Baucus,VA,US
...,...,...,...,...,...,...
110567,2500.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-10-27,US Rep. Eliot Engel,MD,US
110568,1000.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-09-01,US Rep. Steve Israel,MD,US
110569,2500.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-07-17,US Rep. Jan Schakowsky,MD,US
110570,1000.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-11-17,US Rep. Dan Kildee,MD,US
110571,500.0,"SCRIVNER, MICHAEL",2015-12-07,Sen. Mike Lee,DC,US

In [5]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)

(134092, 6)
(846472, 6)
(5266, 6)
(245464, 6)
(110572, 6)

In [6]:
print(len(df["honoree_name"].value_counts()))

96156

In [7]:
df

,amount,contributor_name,date,honoree_name,state,country
0,500.0,"FULLER, CAROLYN",2008-03-09,Senator Daniel Inouye,VA,US
1,500.0,"FULLER, CAROLYN",2008-06-26,Congressman Mike Simpson,VA,US
2,250.0,"FULLER, CAROLYN",2008-03-09,Congressman Bill Sali,VA,US
3,2500.0,"FULLER, CAROLYN",2008-04-01,Senator Jon Tester,VA,US
4,500.0,"FULLER, CAROLYN",2008-06-25,Senator Max Baucus,VA,US
...,...,...,...,...,...,...
110567,2500.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-10-27,US Rep. Eliot Engel,MD,US
110568,1000.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-09-01,US Rep. Steve Israel,MD,US
110569,2500.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-07-17,US Rep. Jan Schakowsky,MD,US
110570,1000.0,AMERICAN PODIATRIC MEDICAL ASSOCIATION,2015-11-17,US Rep. Dan Kildee,MD,US
110571,500.0,"SCRIVNER, MICHAEL",2015-12-07,Sen. Mike Lee,DC,US

In [12]:
df_sum = df.groupby("honoree_name")["amount"].sum()
df2 = df_sum.to_frame().reset_index()
df2.sort_values("amount",ascending=True, inplace=True)
df2

                                      honoree_name       amount
47314                        Mourdock Victory Fund    -30000.00
19339                             Curtis W. Weldon    -10000.00
22089               Democratic National Cmte (DNC)    -10000.00
52600                       Pennsylvania SEIU COPE    -10000.00
25319                     FRIENDS OF JOHN SARBANES    -10000.00
...                                            ...          ...
50420                                         None  14951597.79
21915  Democratic Congressional Campaign Committee  22166241.97
49619     National Republican Senatorial Committee  27375846.92
49540  National Republican Congressional Committee  29491455.03
22249     Democratic Senatorial Campaign Committee  32226645.48

[96156 rows x 2 columns]

In [ ]:
search_mike = amount_sum_by_honoree_sorted[amount_sum_by_honoree_sorted["honoree_name"].str.contains("mike",case=False)]